<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/account-management.css}" rel="stylesheet"/>

</head>
<body>
<div class="header-login">
    <h1>Login Page</h1>
</div>

<div class="body-login">
    <div>
        <form th:action="@{/mvc/auth/login}" method="post">
            <div class="feild-input">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"/>
                </div>
            </div>

            <div class="feild-input">
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>

            </div>
            <div style="display: flex; flex-direction: column; align-items: center">
                <button type="submit" class="custom-btn btn-1">Login</button>
            </div>
        </form>
    </div>

    <div class="link-group">
        <a
                target="_blank"
                href="https://accounts.google.com/o/oauth2/v2/auth?client_id=180755363309-kr205bcfome43kinjebf9ujs4umg6egr.apps.googleusercontent.com&redirect_uri=http://localhost:8080/mvc/auth/google/success&response_type=code&scope=email%20profile">
            <img
                    src="https://play-lh.googleusercontent.com/aFWiT2lTa9CYBpyPjfgfNHd0r5puwKRGj2rHpdPTNrz2N9LXgN_MbLjePd1OTc0E8Rl1=w240-h480-rw">
        </a>
    </div>
</div>

<div class="bottom-login">
    <h2 th:if="${message}" th:text="${message}"></h2>
</div>

</body>
<script>

</script>
<script th:inline="javascript">
    /*<![CDATA[*/


    var accountLoginedId = /*[[${accountLogined != null} ? ${accountLogined.Id} : 0]]*/ 'default';

    /*]]>*/
    window.localStorage.setItem("Id", accountLoginedId);


</script>
</html>
