<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="/js/common.js"></script>
    <script src="/js/accountManagement.js"></script>

</head>
<body class="position-relative">

<div class="w-100">
    <div class="text-center">
        <h1>Account Management</h1>
    </div>
    <div class="alert alert-success position-absolute" style="top: 10px; right: 10px" role="alert" th:if="${created}"
         th:text="${created}">
    </div>
    <div class="alert alert-success position-absolute" style="top: 10px; right: 10px" role="alert" th:if="${updated}"
         th:text="${updated}">
    </div>
    <div class="alert alert-success position-absolute" style="top: 10px; right: 10px" role="alert"
         th:if="${status=='true'}"
         th:text="Success">Success
    </div>
    <div class="alert alert-danger position-absolute" style="top: 10px; right: 10px" role="alert"
         th:if="${status=='false'}"
         th:text="Error">Error
    </div>
    <div class="alert alert-success position-absolute" style="top: 10px; right: 10px" role="alert"
         th:if="${success!=null && success!=''}"
         th:text="${success}">
    </div>
    <div class="alert alert-danger position-absolute" style="top: 10px; right: 10px" role="alert"
         th:if="${error!=null && error!=''}"
         th:text="${error}">
    </div>
    <div class="d-flex flex-row justify-content-end pr-4">
        <a th:href="@{/mvc/auth/logout}">
            Logout
        </a>
    </div>

</div>
<div style="display: flex;flex-direction: column">
    <div>
        <button class="custom-btn btn-1" onclick="openSaveUser()" style="float: right">Create User</button>
        <!--Save Form-->
        <div class="dialog-container" id="dialogCreateUser">
            <div class="dialog-box">
                <div style="text-align: center">
                    <h1 th:text="${account.username == null && account.id == null ? 'Create account' : 'Update account'}"></h1>
                </div>
                <div>
                    <div>
                        <form th:action="@{/mvc/admin/account-management}" method="post">
                            <div class="pr-4 pl-4">
                                <div class="feild-input">
                                    <div>
                                        <label for="username">Username *</label>
                                        <input
                                                type="text"
                                                id="username"
                                                name="username"
                                                th:value="${account.username}"
                                                required
                                                class="validate-field"
                                                maxlength="100"
                                        />
                                    </div>

                                    <div th:text="${errorUsername}" class="alert-danger"></div>
                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="password">Password *</label>
                                        <input
                                                type="password"
                                                id="password"
                                                name="password"
                                                th:value="${account.password}"
                                                required
                                                class="validate-field"
                                                maxlength="255"

                                        />
                                    </div>
                                    <div th:text="${errorPassword}" class="alert-danger"></div>

                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="email">Email</label>
                                        <!--                                        <div class="d-flex flex-column">-->
                                        <input
                                                type="email"
                                                id="email"
                                                name="email"
                                                th:value="${account.email}"
                                                class="validate-field"
                                                maxlength="100"
                                        />
                                        <!--                                        </div>-->

                                    </div>
                                    <div th:if="${errorEmail}!=null" th:text="${errorEmail}" class="alert-danger"></div>
                                    <span id="error-email" class="alert-danger"></span>
                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="fullName">Fullname *</label>
                                        <input type="text"
                                               id="fullName"
                                               name="fullName"
                                               th:value="${account.fullName}"
                                               required
                                               class="validate-field"
                                               maxlength="255"
                                        />
                                    </div>
                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="birthday">Birthday</label>
                                        <input type="date"
                                               th:field="*{account.birthday}"
                                               id="birthday"
                                               th:value="${#dates.format(account.birthday, 'dd--MM-yyyy')}"
                                        >
                                    </div>

                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="phone">Phone</label>
                                        <input type="text"
                                               id="phone" name="phone"
                                               th:value="${account.phone}"
                                               oninput="validateNumberInput(this)"
                                               class="validate-field"
                                               maxlength="30"
                                        />
                                    </div>
                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="gender">Gender *</label>
                                        <div style="flex: 1">
                                            <select id="gender" name="gender" required>
                                                <option th:each="gender : ${gendersList}"
                                                        th:value="${gender}"
                                                        th:text="${gender}"
                                                        th:selected="${account.gender == gender}"></option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="accountType">AccountType *</label>
                                        <div style="flex: 1">
                                            <select id="accountType" name="accountType" required>
                                                <option th:each="type : ${typesList}" th:value="${type}"
                                                        th:text="${type}"
                                                        th:selected="${account.accountType == type}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="feild-input">
                                    <div>
                                        <label for="actived">Actived</label>
                                        <div style="flex: 1; ">
                                            <input
                                                    class="h-25"
                                                    type="checkbox"
                                                    id="actived"
                                                    name="actived"
                                                    th:checked="${account.actived}"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <button type="submit" class="custom-btn btn-1"
                                            th:text="${account.username}==null?'Create':'Update'"
                                    ></button>
                                    <button type="reset" onclick="closeSaveUser()" class="custom-btn btn-2">Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <!--                    <h2 th:text="${msg}"></h2>-->
                </div>
            </div>
        </div>
        <!--        -->
        <!--        Dialog Delete-->
        <div class="dialog-container" id="dialogDeleteUser">
            <div class="dialog-box d-flex flex-column align-items-center ">
                <div style="text-align: center">
                    <h3>Delete Account</h3>
                </div>
                <div>
                    <div class="mt-3">
                        <form id="formDelete" th:action="@{/mvc/admin/account-management/delete/{Id}(Id=${account.id})}"
                              method="get">
                            <div class="text-center">
                                <span class="d-inline font-weight-bold text-danger">Do you want to delete the account <h2
                                        class="d-inline font-weight-bold"
                                        th:text="${account.username}"></h2> ?</span>

                            </div>
                            <div class="mt-3">
                                <div class="d-flex flex-row justify-content-around">
                                    <button type="submit" class="custom-btn btn-1">Delete</button>
                                    <button type="reset" onclick="closeDeleteUser()" class="custom-btn btn-2">Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <!--                    <h2 th:text="${msg}"></h2>-->
                </div>
            </div>
        </div>
        <!--        -->
    </div>
    <div class="search-accounts">
        <div>
            <form
                    th:action="@{/mvc/admin/account-management/paging}"
                    method="post"
                    id="search-input"
                    class="d-flex flex-row align-items-center">
                <div class="feild-input">
                    <div>
                        <label for="usernameS">Username</label>
                        <input type="text" id="usernameS" name="username" th:value="${queryDTO.username}"/>
                    </div>

                </div>
                <div class="feild-input">
                    <div>
                        <label for="fullNameS">Fullname</label>
                        <input type="text" id="fullNameS" name="fullName" th:value="${queryDTO.fullName}"/>
                    </div>
                </div>
                <div class="feild-input">
                    <div>
                        <label for="birthdayS">Birthday</label>
                        <input type="date" name="birthday" id="birthdayS" th:field="*{queryDTO.birthday}"
                               th:value="${#dates.format(birthday, 'dd--MM-yyyy')}"
                        >
                    </div>

                </div>
                <div class="feild-input">
                    <div>
                        <label for="accountTypeS">AccountType</label>
                        <div style="flex: 1">
                            <select id="accountTypeS" name="accountType">
                                <option th:value="all">All</option>
                                <option th:each="type : ${typesList}" th:value="${type}"
                                        th:text="${type}" th:selected="${queryDTO.accountType == type}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="feild-input">
                    <div>
                        <label for="activedS">Status</label>
                        <div style="flex: 1">
                            <select id="activedS" name="actived">
                                <option th:value="all">All</option>
                                <option th:value="false" th:selected="${queryDTO.actived == 'false'}"
                                >Inactive
                                </option>
                                <option th:value="true" th:selected="${queryDTO.actived == 'true'}"
                                >Active
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-row align-items-center">
                        <button type="button" onclick="clearSearchForm()">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                        <button type="submit" class="custom-btn btn-2"
                                th:text="Search">
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div>

        </div>
    </div>
    <div class="list-accounts">
        <div>
            <a id="link-export-excel-accounts" th:href="@{/mvc/admin/account-management/export-excel}"
               class="link-export-accounts btn btn-primary">Export to Excel</a>
            <a id="link-export-pdf-accounts" th:href="@{/mvc/admin/account-management/export-pdf}"
               class="link-export-accounts ml-4 btn btn-danger">Export to PDF</a>

            <form th:action="@{/mvc/file/admin/upload-accounts-excel}" th:object="${uploadForm}" method="post"
                  enctype="multipart/form-data">
                <div>
                    <input name="file" type="file" placeholder="Import accounts" th:value="${fileUpload}"
                           accept=".xlsx">
                    <button type="submit">Upload</button>
                </div>

            </form>

            <table border="1" style="width: 100%">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Fullname</th>
                    <th>Birthday</th>
                    <th>Creater</th>
                    <th>CreatedDate</th>
                    <th>Updater</th>
                    <th>UpdatedDate</th>
                    <th>Actived</th>
                    <th>Action</th>
                </tr>
                <tr th:if="${!acc.deletedFlag}" th:each="acc:${accountList}">
                    <td th:text="${acc.Id}"></td>
                    <td th:text="${acc.username}"></td>
                    <td th:text="${acc.email}"></td>
                    <td th:text="${acc.fullName}"></td>
                    <td>
                        <span th:text="${#dates.format(acc.birthday, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td th:text="${acc.creater}"></td>
                    <td>
                        <span th:text="${#dates.format(acc.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                    </td>
                    <td th:text="${acc.updater}"></td>
                    <td>
                        <span th:text="${#dates.format(acc.updatedDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                    </td>
                    <td>
                        <input type="checkbox" th:checked="${acc.actived}" disabled/>
                    </td>
                    <td style="display: flex; flex-direction: row; justify-content: space-around">
                        <a class="text-warning" th:href="@{/mvc/admin/account-management/{Id}(Id=${acc.Id})}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a th:href="@{/mvc/admin/account-management/details/{Id}(Id=${acc.Id})}">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                        <a class="text-danger"
                           th:href="@{/mvc/admin/account-management/{Id}(Id=${acc.Id},typeGet='delete')}">
                            <i class="fa-solid fa-trash-can-arrow-up"></i>
                        </a>

                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div class="mt-4">
                <!-- Hiển thị phân trang -->
                <div th:if="${pageData.totalElements >= 1}" style="float: right">

                    <div class="d-flex flex-row justify-content-end">
                        <a
                                class="link-account-list"
                                th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                                th:href="@{/mvc/admin/account-management/paging(page=${pageNumber})}">
                        <span th:if="${pageData.number + 1==pageNumber}"
                              th:text="${pageNumber}"
                              class="w-100 px-3 py-2 mx-2 bg-warning text-danger cus-shadow">

                        </span>
                            <span th:if="${pageData.number + 1!=pageNumber}"
                                  th:text="${pageNumber}"
                                  class="w-100 px-3 py-2 mx-2 bg-white text-danger cus-shadow">
                            </span>
                        </a>
                    </div>
                    <div class="mt-4">
                        <span th:text="'Items in page:'+${(pageData.number + 1) * pageData.size > pageData.totalElements ? pageData.totalElements - (pageData.number  * pageData.size) : pageData.size}"></span>
                        <span th:text="'Total items: '+${pageData.totalElements}"></span>
                        <!--                    <p> Current page: <span th:text="${pageData.number + 1}"></span>/-->
                        <!--                        <span th:text="${pageData.totalPages}"></span></p>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div>
    <h2 th:if="${error}" th:text="${error}"></h2>
    <h2 th:if="${msg}" th:text="${msg}"></h2>
</div>
</body>
<script>
    getQuerySearchAccounts();
    getQueryFromLocalStorage();
    updateParamQuery();
    validatorMaxLength();
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var username = /*[[${account.username}]]*/ 'default';
    var typeGet = /*[[${typeGet}]]*/ 'default';
    var error = /*[[${error}]]*/'';

    /*]]>*/
    console.log("error:" + error)

    function toggleForm() {
        if (username != null && typeGet === "get") {
            openSaveUser()
        } else if (username != null && typeGet === "delete") {
            openDeleteUser()
        }
    }

    toggleForm()
</script>
</html>