<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="/js/accountDetails.js"></script>
    <script src="/js/common.js"></script>

</head>
<body>
<div>
    <div>

    </div>
    <div>
        <div>
            <div style="text-align: center">
                <h1>Details</h1>
            </div>
            <div>
                <div class="d-flex flex-column align-items-center">
                    <div class="pr-4 pl-4">
                        <div class="feild-input">
                            <div>
                                <label for="username">Username *</label>
                                <input disabled type="text" id="username" name="username"
                                       th:value="${account.username}"/>
                            </div>

                            <div th:text="${errorUsername}" class="alert-danger"></div>
                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="password">Password *</label>
                                <input disabled type="password" id="password" name="password"
                                       th:value="${account.password}"/>
                            </div>
                            <div th:text="${errorPassword}" class="alert-danger"></div>

                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="email">Email</label>
                                <input disabled type="email" id="email" name="email"
                                       th:value="${account.email}"/>
                            </div>
                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="fullName">Fullname *</label>
                                <input disabled type="text" id="fullName" name="fullName"
                                       th:value="${account.fullName}"/>
                            </div>
                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="birthday">Birthday</label>
                                <input disabled type="date" th:field="*{account.birthday}" id="birthday"
                                       th:value="${#dates.format(account.birthday, 'dd--MM-yyyy')}"
                                >
                            </div>

                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="phone">Phone</label>
                                <input disabled type="text" id="phone" name="phone"
                                       th:value="${account.phone}"/>
                            </div>
                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="gender">Gender</label>
                                <div style="flex: 1">
                                    <select disabled id="gender" name="gender">
                                        <option th:each="gender : ${gendersList}"
                                                th:value="${gender}"
                                                th:text="${gender}"
                                                th:selected="${account.gender == gender}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="accountType">AccountType</label>
                                <div style="flex: 1">
                                    <select disabled id="accountType" name="accountType">
                                        <option th:each="type : ${typesList}" th:value="${type}"
                                                th:text="${type}"
                                                th:selected="${account.accountType == type}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="feild-input">
                            <div>
                                <label for="actived">Actived</label>
                                <div style="flex: 1; ">
                                    <input disabled type="checkbox" id="actived" name="actived"
                                           style="height: 30px;"
                                           th:checked="${account.actived}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button onclick="goBack()" class="custom-btn btn-2 ">Close</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
</body>
<script>
    getQueryFromLocalStorage();
</script>
</html>