body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

* {
    font-family: "Roboto Light", "Arial", "Calibri";

}

.dialog-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

/* Styling for the dialog box */
.dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 99999;
}

/*           */
button {
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

button:hover, button:active {
    outline: none;
    border: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    /*outline: none;*/
}

.custom-btn:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.custom-btn:before,
.custom-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.custom-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.custom-btn:hover:before,
.custom-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*           */
.btn-1 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

/*         */
.btn-2 {
    width: 130px;
    height: 40px;
    /*color: #000;*/
    line-height: 42px;
    padding: 0;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgb(208, 208, 106) 0%, rgb(172, 201, 198) 100%);
}

.btn-3 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgb(66, 236, 223) 0%, rgb(16, 187, 187) 100%);
}

.feild-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.feild-input > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.feild-input > div > input {
    height: 40px;
    flex: 1;
    outline: 0;
    border: none;
    border-radius: 5px;

    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.feild-input div > select {
    float: left;
    height: 40px;
    width: 100px;
    outline: 0;
    border: none;
    border-radius: 5px;

    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.feild-input div > label {
    width: 110px;
}

.list-accounts {
}

.list-accounts td, tr, th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.list-accounts tr {
    border-bottom: 1px solid lightslategrey;
}

.list-accounts th {
    font-size: 24px;
    background: lightslategrey;
    color: white;
}

.list-accounts table {
    border-collapse: collapse;
}

a > img {
    width: 35px;
    margin: 5px;
}

.cus-shadow {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.box {
    background-color: #fbfbfb;
    /*padding: 6.25rem 1.25rem;*/
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}
