<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .home-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="home-container">
    <div>
        <div>
            <h1>Home</h1>

        </div>
        <div class="d-flex flex-row justify-content-centerx pr-4">
            <a th:href="@{/mvc/auth/logout}">
                Logout
            </a>
        </div>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>

</body>
</html>